.contenido{
    margin-top: 120px;
    margin-left: 18vw;
    margin-right: 3vw;
}
#cat_par, #cat_imp{
    margin: 20px;
    padding: 15px;
}
#cat_par, #cat_imp h3{
    background-color: #EBE19B;
}
#cat_imp, #cat_par h3{
    background-color: #8D9BB2;
}
h2, h3{
    text-align: center;
    margin: 20px;
    padding: 20px;
}
h2{
    background-color: #00296B;
    color: #FDC500;
    width: 72vw;
}
textarea{
    width: 90%;
    padding: 10px;
}
<<<<<<< HEAD
label{
    display: block;
=======
label, #checkbox{
    display: block;
    margin: 10px;
}
#mod{
    margin: 10px;
>>>>>>> feature/crear-grupo
}
#pregunta-bloque{
    margin: 20px;
}