body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: opx;
}
#logos{
    position:fixed;
    top: 10px;
}
.logo{
    height: 70px;
}
h1{
    text-align: center;
    color: rgb(0, 41, 107);
}
.navbar{
    position: fixed;
    top: 0px;
    left:0px;
    width: 100vw;
    z-index: 1000;
}
.nav-left{
    padding: 5px ;
    margin: 0px;
    height: 80px;
    background-color: rgb(253, 197, 0);
    align-items: center;
}
#perfil_encabezado{
    position: fixed;
    right: 20px;
    top:10px;
}
.menu_lateral{
    position:fixed;
    top: 90px;
    background-color: rgb(0, 41, 107);
    width: 15vw;
    height: 100vh;
    text-align: center;
    border: 0px;
    margin: 0px;
}
.menu_lateral a{
    display:block;
    background-color: rgb(141, 155, 178);
    color: black;
    padding: 10px;
    margin: 10px;
}
#Bienv{
    margin-left: 18vw;
    margin-top: 30px;
    padding: 10px;
    padding-left: 20px;
    background-color: rgb(0, 41, 107);
    color: rgb(253, 197, 0);
    width: 80vw;
}
.foto_perfil{
    width: 70px;
    background-color: white;
    border-radius: 50%;
}