h2{
    text-align: center;
}
h3{
    text-align: center;
}
.cuadro_re{
    height: 100px;
    width: 150px;
    background-color: rgb(96, 96, 167);

}

#archivos{
    background-color:  rgb(173, 173, 174);
    height: 700px;
    width: 900px;
    margin: auto;
}
#cuadro_arch{
    height: 600px;
    width: 800px;
    gap: 20px;
    background-color: #EBE19B;
}

#cuadro_ejer{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#cuadro_enl{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#cuadro_script{
    display: flex;
    justify-content: center;
    gap: 20px;
}
