main {
    position: relative; 
    display: block;
    margin-top: 120px;
    margin-left: 18vw;
    padding: 1px; 
    width: calc(100% - 18vw); 
    box-sizing: border-box;
}

h2 {
    margin-bottom: 40px;
    text-align: center;
    color: rgb(253, 197, 0);
    padding: 10px;
    background-color: rgb(0, 41, 107);
    width: 78vw;
    margin-left: auto;  
    margin-right: auto;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px; 
}


#archivos, #ejercicios, #enlaces, #scripts {
    background-color: rgb(173, 173, 174);
    width: 78vw;
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
}


#cuadro_arch, #cuadro_ejer, #cuadro_enl, #cuadro_script {
    width: 68vw;
    gap: 20px; 
    background-color: #EBE19B;
    padding: 15px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}


.cuadro_re {
    width: 58vw;
    background-color: #8D9BB2;
    box-sizing: border-box;
    padding: 20px;
}

.recursos {
    margin-top: 120px;
}

.contenedor-boton{
    display: inline;
    text-align: center;
    justify-content: center; 
    gap: 30px;             
    margin: 80px;
    margin-left: 100px;
    width: 100%;
}
.pag{
    background-color: #00286B;
    color: white;
    border: none;
    padding: 12px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    width: 100px;
}
.pag:hover{
    background-color: #FDC500;
    color: black;
}