/* --- Estilos de módulos--- */
.modulos_par{
    height: 200px;
    width: 350px;
    text-align: center;
    background-color: #EBE19B;
    position: relative;
    left: 1000px;
    bottom: 220px;
    margin: 0px;
    padding: 0px;
    bottom: 50px;

}
.modulos_impar{
    height: 200px;
    width: 350px;
    text-align: center;
    background-color: #EBE19B;
    position: relative;
    left: 400px;
    top: 170px;
}

#tit_mod{
    position: relative;
    top: 100px;
    text-align: center;
}
.contenedor_modulos{
    position: relative;
}

/* --- Estilos dentro de módulos--- */
.cuadro{
    height: 80px;
    width: 150px;
    background-color: #EBE19B;
    position: relative;
    left: 700px;
    top: 100px;
    text-align: center;
}

